body {   
    /*background-image: url("https://c2.staticflickr.com/8/7011/6772941359_8d964a4337_b.jpg"); */
    background-image: url("https:////c2.staticflickr.com/8/7110/13821250455_60bffa9b1d_h.jpg"); 
    background-size: cover;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
nav a { text-decoration: none; }

#portfolio div { 
    width: 85%;
    margin: auto;
}
.project {
    width: 350px;
    margin: auto;
    display: inline-block;
}
img.project-thumbnail {
    width: 350px;
    height: 350px;
}

#contact div {
    width: 50%;
    margin: auto;
    background: white;
}

form input,
form label,
form button,
form textarea {
    display: block;
    margin: 10px auto;
    width: 50%;
}
