body {   
    padding-top: 60px;
    background-image: url("https:////c2.staticflickr.com/8/7110/13821250455_60bffa9b1d_h.jpg"); 
    background-size: cover;
}

nav.nav {
    background: #333;
}

.navbar-brand {
    color: #fff;
    background: rgba(255,255,255,0.25);
}

.project {
    width: 350px;
    margin: auto;
    display: inline-block;
    background: rgba(255,255,255,0.45);
    border-radius: 10px;
}
.thumbnail {
    width: 350px;
    height: 350px;
}

@media screen and (min-width: 768px) {
    .project {
        margin: 1em;
    }
}
